header{
    height: 0px;
}

#carouselExemple {
    width: 50%;
    
    margin: 0 auto;
    margin-top: 10px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

#copyright{
    color: red;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 70px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

